:root {
    --dark-jungle-green     : #071e22;
    --bittersweet           : #ff6f59;
    --go-green              : #27ae60;
    --french-lilac          : #925d98;
    --tart-orange           : #ff3333;
    --shadow-bg             : #999888;
    --skill-color-css       : #1572b6;
    --skill-color-java      : #007396;
    --skill-color-javascript: #f7df1e;
    --skill-color-html      : #e34f26;
    --skill-color-c         : #a8b9cc;
    --skill-color-cpp       : #00599c;
    --skill-color-git       : #f05032;
    --skill-color-node      : #339933;
    --skill-color-mysql     : #4479a1;
    --skill-logo-width      : 2em;
    --social-color-telegram : #26A5E4;
    --social-color-gmail    : #EA4335;
    --social-color-github   : #181717;
    --social-color-twitter  : #1da1f2;
    --social-color-linkedin : #007bb5;
    --font-skill-title      : 'Montserrat', 'Lucida Sans Regular', sans-serif;
    --font-section-heading  : 'Roboto Slab', 'Lucida Sans Regular', sans-serif;
    --font-normal           : 'Noto Sans JP', 'Lucida Sans Regular', sans-serif;
}

#jssvg,
.js-logo {
    background-color: var(--skill-color-javascript);
    color           : var(--skill-color-javascript);
}

#htmlsvg,
.html-logo {
    background-color: var(--skill-color-html);
    color           : var(--skill-color-html);
}

#csssvg,
.css-logo {
    background-color: var(--skill-color-css);
    color           : var(--skill-color-css);
}

#csvg,
.c-logo {
    background-color: var(--skill-color-c);
    color           : var(--skill-color-c);
}

#cppsvg,
.cpp-logo {
    background-color: var(--skill-color-cpp);
    color           : var(--skill-color-cpp);
}

#javasvg,
.java-logo {
    background-color: var(--skill-color-java);
    color           : var(--skill-color-java);
}

#nodesvg,
.node-logo {
    background-color: var(--skill-color-node);
    color           : var(--skill-color-node);
}

#mysqlsvg,
.mysql-logo {
    background-color: var(--skill-color-mysql);
    color           : var(--skill-color-mysql);
}

#gitsvg,
.git-logo {
    background-color: var(--skill-color-git);
    color           : var(--skill-color-git);
}

#githubsvg {
    color: var(--social-color-github);
}

#linkedInsvg {
    color: var(--social-color-linkedin);
}

#twittersvg {
    color: var(--social-color-twitter);
}

#telegramsvg {
    color: var(--social-color-telegram);
}

#gmailsvg {
    color: var(--social-color-gmail);
}

html {
    width        : 100%;
    display      : grid;
    place-content: center;
}

body {
    width      : 90vw;
    font-family: var(--font-normal);
    font-size  : 1.2em;
}

h2,
h3 {
    font-family: var(--font-section-heading);
}

.title-container {
    padding      : 8px 0;
    margin-bottom: 5px;
}

#hr {
    height          : 4px;
    background-color: var(--french-lilac);
    width           : 140px;
    border-radius   : 10px;
    margin-left     : 8px;
}

.intro-container {
    width          : 100%;
    display        : flex;
    flex-flow      : row nowrap;
    align-items    : center;
    justify-content: space-around;
}

.profile-pic {
    display          : grid;
    place-items      : center;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation   : spin 4s linear infinite;
    animation        : spin 3s ease-in-out 1;
    animation-delay  : 2s;
}

.profile-pic img {
    border-radius: 50%;
    box-shadow   : 0 0 8px 2px var(--shadow-bg);
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.about-container {
    width: 40%;
}

.skills-section {
    width     : 100%;
    /* border : 1px solid red; */
    margin-top: 12px;
}

.section-heading {
    text-transform: uppercase;
    margin        : 0;
    padding       : 8px 0;
}

.skill-container {
    width: 100%;
}

.skill-row {
    justify-content: space-around;
    display        : flex;
    align-items    : center;
    margin         : 2px 0;
}

td svg {
    width  : var(--skill-logo-width);
    padding: 6px;
}

.skill-logo {
    width          : 25%;
    display        : flex;
    justify-content: center;
}

.skill-progress {
    width          : 70%;
    height         : var(--skill-logo-width);
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-radius  : 16px;
}

.skill-title {
    text-transform         : uppercase;
    font-family            : var(--font-skill-title);
    font-weight            : 900;
    font-size              : 1.4em;
    background-clip        : text;
    -webkit-background-clip: text;
    color                  : #ffffff;
}

.projects-container {
    width: 100%;
}

.project-row svg {
    width: 34px;
}

.project-row {
    border         : 1px solid var(--dark-jungle-green);
    display        : flex;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: space-between;
    margin         : 10px 0;
    border-radius  : 10px;
}

.project-title-row {
    width                : 100%;
    display              : grid;
    grid-template-columns: 1fr 90px;
    align-items          : center;
    padding              : 4px 0;
    border-bottom        : 1px solid var(--dark-jungle-green);
}

.project-title {
    text-align    : center;
    text-transform: uppercase;
    white-space   : nowrap;
    margin        : 0;
}

.view-project {
    display        : flex;
    flex-flow      : row nowrap;
    justify-content: space-around;
    align-items    : center;
}

.view-project a {
    color: var(--dark-jungle-green);
}

.project-snap {
    display              : grid;
    place-items          : center;
    grid-template-columns: minmax(100px, 336px);
}

.project-snap img {
    width: 100%;
}

.project-tech-stack {
    width          : 100%;
    border         : 1px solid var(--dark-jungle-green);
    display        : flex;
    flex-flow      : row nowrap;
    align-items    : center;
    justify-content: space-evenly;
    padding        : 8px 0;
}

.project-decription-div {
    text-align     : center;
    width          : 100%;
    display        : flex;
    justify-content: center;
    padding        : 8px 0;
}

.project-decription {
    margin: 0;
    width : 80%;
}

.contact-container {
    width          : 100%;
    display        : flex;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: space-evenly;
    padding        : 10px 0;
}

.social-container svg {
    width: 36px;
}

.social-container {
    width          : 100%;
    border         : 1px solid var(--dark-jungle-green);
    display        : flex;
    flex-flow      : row nowrap;
    align-items    : center;
    justify-content: space-evenly;
    padding        : 6px 0;
    margin         : 10px 0;
}

.footer-container>span {
    display        : flex;
    width          : 100%;
    flex-flow      : row nowrap;
    white-space    : nowrap;
    justify-content: center;
    align-items    : center;
}

.footer-container svg {
    width  : 22px;
    padding: 0 6px;
}

.footer-container {
    font-size    : 0.8em;
    margin-bottom: 48px;
}

.nav-bar {
    background-color       : ghostwhite;
    display                : flex;
    flex-flow              : row nowrap;
    align-items            : center;
    justify-content        : space-evenly;
    box-shadow             : 0 0 20px 2px var(--shadow-bg);
    border-top-left-radius : 16px;
    border-top-right-radius: 16px;
    padding                : 12px 0;
    position               : fixed;
    bottom                 : 0;
    left                   : 0;
    width                  : 100%;
}

.nav-bar a {
    color          : var(--tart-orange);
    text-decoration: none;
    text-transform : capitalize;
    font-size      : medium;
}