:root {
    --links-color      : #ff3333;
    --text-color       : #0f0f0f;
    --shadow-color     : #585858;
    --highligther-color: #a81fb7;
    --backgroung-color : #109e36;

    --skill-color-css       : #1572b6;
    --skill-color-java      : #007396;
    --skill-color-javascript: #f7df1e;
    --skill-color-html      : #e34f26;
    --skill-color-c         : #a8b9cc;
    --skill-color-cpp       : #00599c;
    --skill-color-git       : #f05032;
    --skill-color-node      : #339933;
    --skill-color-mysql     : #4479a1;
    --skill-logo-width      : 2em;
    --social-color-telegram : #26A5E4;
    --social-color-gmail    : #EA4335;
    --social-color-github   : #181717;
    --social-color-twitter  : #1da1f2;
    --social-color-linkedin : #007bb5;
    --font-skill-title      : 'Montserrat', 'Lucida Sans Regular', sans-serif;
    --font-section-heading  : 'Roboto Slab', 'Lucida Sans Regular', sans-serif;
    --font-normal           : 'Noto Sans JP', 'Lucida Sans Regular', sans-serif;
    scroll-behavior         : smooth;
}


button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

#jssvg,
.js-logo {
    background-color: var(--skill-color-javascript);
    color           : var(--skill-color-javascript);
}

#htmlsvg,
.html-logo {
    background-color: var(--skill-color-html);
    color           : var(--skill-color-html);
}

#csssvg,
.css-logo {
    background-color: var(--skill-color-css);
    color           : var(--skill-color-css);
}

#csvg,
.c-logo {
    background-color: var(--skill-color-c);
    color           : var(--skill-color-c);
}

#cppsvg,
.cpp-logo {
    background-color: var(--skill-color-cpp);
    color           : var(--skill-color-cpp);
}

#javasvg,
.java-logo {
    background-color: var(--skill-color-java);
    color           : var(--skill-color-java);
}

#nodesvg,
.node-logo {
    background-color: var(--skill-color-node);
    color           : var(--skill-color-node);
}

#mysqlsvg,
.mysql-logo {
    background-color: var(--skill-color-mysql);
    color           : var(--skill-color-mysql);
}

#gitsvg,
.git-logo {
    background-color: var(--skill-color-git);
    color           : var(--skill-color-git);
}

#githubsvg {
    color: var(--social-color-github);
}

#linkedInsvg {
    color: var(--social-color-linkedin);
}

#twittersvg {
    color: var(--social-color-twitter);
}

#telegramsvg {
    color: var(--social-color-telegram);
}

#gmailsvg {
    color: var(--social-color-gmail);
}

html {
    width        : 100%;
    display      : grid;
    place-content: center;
    color        : var(--text-color);
}

body {
    width      : 90vw;
    font-family: var(--font-normal);
    font-size  : 1.2em;
}

a {
    transition: all 400ms ease 50ms;
    outline   : none;
}

h2,
h3 {
    font-family: var(--font-section-heading);
    width      : 100%;
    text-align : center;
}

.title-container {
    padding      : 8px 0;
    margin-bottom: 5px;
}

#hr {
    height          : 4px;
    background-color: var(--highligther-color);
    width           : 140px;
    border-radius   : 10px;
    margin-left     : 8px;
}

.intro-container {
    width          : 100%;
    display        : flex;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: space-around;
}

.profile-pic {
    margin-top     : 10px;
    display        : flex;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: center;
    transition     : all 300ms ease 0ms;
}


.drop-shadow {
    --shadow-color  : #cbcbcb;
    width           : 150px;
    height          : 10px;
    border-radius   : 100%;
    margin-top      : 12px;
    box-shadow      : 0 0 6px 3px var(--shadow-color);
    background-color: var(--shadow-color);
}

.profile-pic img {
    border-radius: 50%;
    box-shadow   : 0 4px 8px 1px var(--shadow-color);
}

.levitate .drop-shadow {
    animation: squeeze 1500ms ease-in 0s infinite alternate;
}

.levitate img {
    animation: bounce 1500ms ease-in 0s infinite alternate;
}

@keyframes squeeze {
    0% {
        width: 150px;
    }

    100% {
        width: 120px;
    }

}

@keyframes bounce {
    0% {
        transform : translateY(0);
        box-shadow: 0 4px 8px 1px var(--shadow-color);
    }

    100% {
        transform : translateY(-10px);
        box-shadow: 0 8px 8px 1px var(--shadow-color);
    }

}

.skills-section,
.projects-container,
.contact-container {
    width      : 100%;
    padding-top: 10px;
}

.highlight-text {
    color: var(--highligther-color);
}

.hire-me-container {
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: space-evenly;
    padding        : 6px;
}

a {
    color              : var(--links-color);
    text-decoration    : none;
    border             : 2px solid transparent;
    border-bottom-color: var(--shadow-color);
    padding            : 4px 8px;
}

a:hover,
a:focus {
    border-radius: 12px;
    border-color : var(--shadow-color);
}

a:active {
    transform: scale(0.9) translateY(-2px);
}

.section-heading {
    text-transform: uppercase;
    margin        : 0;
    padding       : 8px 0;
}

.skill-container {
    width        : 100%;
    padding      : 8px;
    border       : 1px solid var(--shadow-color);
    border-radius: 12px;
}

.skill-row {
    justify-content: space-around;
    display        : flex;
    align-items    : center;
    margin         : 2px 0;
}

td svg {
    width  : var(--skill-logo-width);
    padding: 6px;
}

.skill-logo {
    width          : 20%;
    display        : flex;
    justify-content: center;
}

.skill-progress {
    width          : 75%;
    height         : var(--skill-logo-width);
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-radius  : 16px;
}

.skill-title {
    text-transform         : uppercase;
    font-family            : var(--font-skill-title);
    font-weight            : 900;
    font-size              : 1.2em;
    background-clip        : text;
    -webkit-background-clip: text;
    color                  : white;
}

.project-row {
    border         : 1px solid var(--shadow-color);
    display        : flex;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: space-between;
    margin         : 10px 0;
    border-radius  : 12px;
}

.project-title-row {
    width                : 100%;
    display              : grid;
    grid-template-columns: 1fr 90px;
    align-items          : center;
    padding              : 4px 0;
    border-bottom        : 1px solid var(--shadow-color);
}

.project-title {
    text-align    : center;
    text-transform: uppercase;
    white-space   : nowrap;
    margin        : 0;
}

.view-project {
    display        : flex;
    flex-flow      : row nowrap;
    justify-content: space-around;
    align-items    : center;
}

.project-row svg {
    width: 34px;
}

.view-project a {
    text-decoration: none;
    border         : 2px solid transparent;
    color          : var(--text-color);
    display        : grid;
    place-items    : center;
    padding        : 2px;
    border-radius  : 8px;
}

.view-project a:focus,
.view-project a:hover {
    border-color         : var(--shadow-color);
    --social-color-github: var(--links-color);
    color                : var(--links-color);
}

.project-snap {
    display              : grid;
    place-items          : center;
    grid-template-columns: minmax(100px, 336px);
}

.project-snap img {
    width: 100%;
}

.project-tech-stack {
    width          : 100%;
    border         : 1px solid var(--shadow-color);
    display        : flex;
    flex-flow      : row nowrap;
    align-items    : center;
    justify-content: space-evenly;
    padding        : 8px 0;
}

.project-decription-div {
    text-align     : center;
    width          : 100%;
    display        : flex;
    justify-content: center;
    padding        : 8px 0;
}

.project-decription {
    margin: 0;
    width : 80%;
}

.contact-container {
    display        : flex;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: space-evenly;
}

.social-container svg {
    width: 36px;
}

.catch-phrase {
    width                  : 100%;
    border                 : 1px solid var(--shadow-color);
    border-bottom          : none;
    border-top-left-radius : 12px;
    border-top-right-radius: 12px;
    text-align             : center;
}

.social-container {
    width                     : 100%;
    display                   : flex;
    flex-flow                 : row nowrap;
    align-items               : center;
    justify-content           : space-evenly;
    margin-bottom             : 10px;
    padding                   : 6px 0;
    border                    : 1px solid var(--shadow-color);
    border-top                : none;
    border-bottom-left-radius : 12px;
    border-bottom-right-radius: 12px;
}

.social-container a {
    display    : grid;
    place-items: center;
}

.footer-container>span {
    display        : flex;
    width          : 100%;
    flex-flow      : row nowrap;
    white-space    : nowrap;
    justify-content: center;
    align-items    : center;
}

.footer-container svg {
    width  : 22px;
    padding: 0 6px;
}

.footer-container {
    font-size    : 0.8em;
    margin-bottom: 48px;
    padding      : 10px;
}

.nav-bar {
    background-color       : white;
    display                : flex;
    flex-flow              : row nowrap;
    align-items            : center;
    justify-content        : space-evenly;
    box-shadow             : 0 0 20px 2px var(--shadow-color);
    border-top-left-radius : 16px;
    border-top-right-radius: 16px;
    padding                : 12px 0;
    position               : fixed;
    bottom                 : 0;
    left                   : 0;
    width                  : 100%;
}

.nav-bar a {
    text-transform : capitalize;
    font-size      : medium;
    text-decoration: none;
}