@font-face {
    font-family : 'Montserrat';
    font-style  : normal;
    font-weight : 800;
    font-display: swap;
    src         : local(''),
        url('../fonts/montserrat-v15-latin-800.woff2') format('woff2'),
        url('../fonts/montserrat-v15-latin-800.woff') format('woff');
}

@font-face {
    font-family : 'Montserrat';
    font-style  : normal;
    font-display: swap;
    font-weight : 900;
    src         : local(''),
        url('../fonts/montserrat-v15-latin-900.woff2') format('woff2'),
        url('../fonts/montserrat-v15-latin-900.woff') format('woff');
}

@font-face {
    font-family : 'Roboto Slab';
    font-style  : normal;
    font-display: swap;
    font-weight : 400;
    src         : local(''),
        url('../fonts/roboto-slab-v13-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/roboto-slab-v13-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family : 'Roboto Slab';
    font-style  : normal;
    font-display: swap;
    font-weight : 600;
    src         : local(''),
        url('../fonts/roboto-slab-v13-latin_cyrillic-600.woff2') format('woff2'),
        url('../fonts/roboto-slab-v13-latin_cyrillic-600.woff') format('woff');
}

@font-face {
    font-family : 'Noto Sans JP';
    font-style  : normal;
    font-display: swap;
    font-weight : 300;
    src         : local(''),
        url('../fonts/noto-sans-jp-v28-latin-300.woff2') format('woff2'),
        url('../fonts/noto-sans-jp-v28-latin-300.woff') format('woff');
}

@font-face {
    font-family : 'Noto Sans JP';
    font-style  : normal;
    font-display: swap;
    font-weight : 400;
    src         : local(''),
        url('../fonts/noto-sans-jp-v28-latin-regular.woff2') format('woff2'),
        url('../fonts/noto-sans-jp-v28-latin-regular.woff') format('woff');
}

@font-face {
    font-family : 'Noto Sans JP';
    font-style  : normal;
    font-display: swap;
    font-weight : 500;
    src         : local(''),
        url('../fonts/noto-sans-jp-v28-latin-500.woff2') format('woff2'),
        url('../fonts/noto-sans-jp-v28-latin-500.woff') format('woff');
}

:root {
    /* color scheme */
    --shadow-color     : #585858;
    --links-color      : #005377;
    --text-color       : #0f0f0f;
    --highligther-color: #f71735;
    --tech-skill-color : #000000;
    --skill-logo-width : 2em;
    /* fonts */
    --font-skill-title : 'Montserrat', Impact, sans-serif;
    --font-heading     : 'Roboto Slab', 'Segoe UI', Tahoma, Verdana, sans-serif;
    --font-normal      : 'Noto Sans JP', 'Courier New', Courier, monospace;
}

#jsLogo {
    --tech-skill-color: #f7df1e;
}

#htmlLogo {
    --tech-skill-color: #e34f26;
}

#cssLogo {
    --tech-skill-color: #1572b6;
}

#cLogo {
    --tech-skill-color: #a8b9cc;
}

#cppLogo {
    --tech-skill-color: #00599c;
}

#javaLogo {
    --tech-skill-color: #007396;
}

#nodeLogo {
    --tech-skill-color: #339933;
}

#mysqlLogo {
    --tech-skill-color: #4479a1;
}

#gitLogo {
    --tech-skill-color: #f05032;
}


#githubsvg {
    color: var(--social-color-github);
}

#linkedInsvg {
    color: var(--social-color-linkedin);
}

#twittersvg {
    color: var(--social-color-twitter);
}

#telegramsvg {
    color: var(--social-color-telegram);
}

#gmailsvg {
    color: var(--social-color-gmail);
}

html {
    scroll-behavior: smooth;
    width          : 100%;
    display        : grid;
    place-content  : center;
    color          : var(--text-color);
}

body {
    width      : 90vw;
    font-family: var(--font-normal);
}

a {
    -webkit-tap-highlight-color: transparent;
    outline                    : none;
    transition                 : all 400ms ease 50ms;
    color                      : var(--links-color);
    text-decoration            : none;
    border                     : 2px solid transparent;
    border-bottom-color        : var(--shadow-color);
    padding                    : 4px 5px;
}

a:hover,
a:focus {
    border-radius: 12px;
    border-color : var(--shadow-color);
}

a:active {
    transform: scale(0.9) translateY(-2px);
}

h2,
h3 {
    font-family   : var(--font-heading);
    text-align    : center;
    text-transform: uppercase;
}

.highlight-text {
    color: var(--highligther-color) !important;
}

.project-container,
.social-wrap {
    width    : 100%;
    flex-flow: column nowrap;
}

.profile-pic,
.hire-me-container,
.skill-row,
.skill-logo,
.skill-progress,
.project-container,
.view-project,
.project-tech-stack,
.project-decription-div,
.footer-container>span,
.social-wrap,
.nav-links-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.hire-me-container,
.project-tech-stack,
.social-wrap,
.nav-links-container {
    justify-content: space-evenly;
}

.skills-section,
.projects-section {
    width      : 100%;
    padding-top: 18px;
}

.title-container {
    margin: 0 4px 5px 10px;
}

hr {
    width           : 140px;
    margin          : 0 0 0 8px;
    height          : 4px;
    background-color: var(--highligther-color);
    border          : none;
    border-radius   : 10px;
}

.intro-container {
    margin    : 10px;
    text-align: center;
}

.profile-pic {
    flex-flow : column nowrap;
    margin-top: 10px;
}

.profile-pic>img {
    border-radius: 50%;
    box-shadow   : 0 4px 8px 1px var(--shadow-color);
}

.profile-pic>div {
    --shadow-color  : #cbcbcb;
    width           : 150px;
    height          : 10px;
    border-radius   : 100%;
    margin-top      : 12px;
    box-shadow      : 0 0 6px 3px var(--shadow-color);
    background-color: var(--shadow-color);
}

.levitate>img {
    animation: bounce 1500ms ease-in 0s infinite alternate;
}

.levitate>div {
    animation: squeeze 1500ms ease-in 0s infinite alternate;
}

@keyframes squeeze {
    100% {
        width: 120px;
    }
}

@keyframes bounce {
    100% {
        transform : translateY(-10px);
        box-shadow: 0 8px 8px 1px var(--shadow-color);
    }
}

.skill-container {
    width        : 100%;
    padding      : 8px;
    border       : 1px solid var(--shadow-color);
    border-radius: 12px;
}

.skill-row {
    justify-content: start;
    flex-flow      : row nowrap;
}

.skill-logo {
    width: 20%;
}

.skill-logo img,
.project-tech-stack img,
.social-container img {
    padding: 6px 10px;
    width  : var(--skill-logo-width);
    height : var(--skill-logo-width);
}

.skill-progress {
    width           : 75%;
    height          : var(--skill-logo-width);
    border-radius   : 1em;
    background-color: var(--tech-skill-color);
}

.skill-progress span {
    text-transform: uppercase;
    font-family   : var(--font-skill-title);
    font-weight   : 800;
    font-size     : 1.2em;
    color         : white;
}

.project-container {
    border         : 1px solid var(--shadow-color);
    justify-content: space-between;
    margin         : 14px 0;
    border-radius  : 12px;
}

.project-title-row {
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 4px 0;
    border-bottom  : 1px solid var(--shadow-color);
}

.project-title {
    flex-grow: 8;
}

.view-project {
    flex-grow      : 1;
    flex-flow      : row nowrap;
    justify-content: space-around;
}

.project-title h3 {
    margin: 0;
}

.view-project a {
    color        : var(--text-color);
    display      : grid;
    place-items  : center;
    border-radius: 50%;
    padding      : 4px;
}

.view-project a:focus,
.view-project a:hover {
    border-color         : var(--shadow-color);
    --social-color-github: var(--links-color);
    color                : var(--links-color);
}

.view-project svg {
    width: 1.8em;
}

.project-snap {
    display              : grid;
    place-items          : center;
    grid-template-columns: minmax(100px, 336px);
    padding              : 4px 0;
}

.project-snap img {
    width : 100%;
    height: 100%;
}

.project-tech-stack {
    width    : 100%;
    border   : 1px solid var(--shadow-color);
    flex-flow: row nowrap;
}

.project-decription-div {
    text-align: center;
    width     : 100%;
}

.project-decription {
    margin: 6px 0;
    width : 80%;
}

.social-wrap {
    width        : 100%;
    border       : 1px solid var(--shadow-color);
    border-radius: 12px;
    padding      : 10px 0;
}

.catch-phrase {
    width     : 100%;
    text-align: center;
}

.social-container {
    width          : 100%;
    display        : flex;
    flex-flow      : row nowrap;
    align-items    : center;
    justify-content: space-evenly;
}

.social-container a {
    display    : grid;
    place-items: center;
}

.footer-container {
    font-size    : 0.8em;
    margin-bottom: 48px;
    padding      : 10px;
}

.footer-container img {
    width  : 22px;
    height : 22px;
    padding: 8px 6px;
}

.nav-bar {
    display                : grid;
    place-items            : center;
    width                  : 100%;
    background-color       : white;
    box-shadow             : 0px -2px 8px 3px #46464640;
    border-top-left-radius : 16px;
    border-top-right-radius: 16px;
    position               : fixed;
    bottom                 : 0;
    left                   : 0;
}

.nav-links-container {
    flex-flow: row nowrap;
    padding  : 12px 0;
    width    : 100%;
}

.nav-links-container a {
    text-transform: capitalize;
    font-size     : 0.9em;
}

@media (min-width: 560px) {
    body {
        width    : 80vw;
        font-size: 1.1em;
    }

    .nav-links-container {
        width: 90%;
    }
}

@media (min-width: 800px) {
    body {
        width    : 60vw;
        font-size: 1.3em;
    }

    .nav-links-container {
        width: 70%;
    }
}